<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - Free Bulma template</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.4/css/bulma.min.css"
    />
  </head>

  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
            <h3 class="title has-text-black">Register</h3>
            <hr class="login-hr" />
            <p class="subtitle has-text-black">Register form</p>
            <div class="box">
              <figure class="avatar">
                <img
                  src="{{ url_for('static', filename='images/icon.jpg') }}"
                />
              </figure>
              <form action="{{ url_for('register') }}" method="post">
                <div class="field">
                  <div class="control">
                    <input
                      type="text"
                      id="username"
                      name="username"
                      required
                      class="input is-large"
                      placeholder="Your login"
                      autofocus=""
                    />
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input
                      id="password"
                      name="password"
                      required
                      class="input is-large"
                      type="password"
                      placeholder="Your Password"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="checkbox">
                    <input type="checkbox" />
                    Remember me
                  </label>
                </div>
                <button
                  type="submit"
                  class="button is-block is-info is-large is-fullwidth"
                >
                  Login <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
              </form>
            </div>
            <p class="has-text-grey">
              <a href="{{ url_for('register') }}">Sign Up</a> &nbsp;·&nbsp;
              <a href="../">Forgot Password</a> &nbsp;·&nbsp;
              <a href="../">Need Help?</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
  </body>
</html>
